[submodule "tfd-nuxt-tailwind-boilerplate"]
	path = tfd-nuxt-tailwind-boilerplate
	url = https://github.com/rothasok/tfd-nuxt-tailwind-boilerplate.git
[submodule "tfd-nest-boilerplate"]
	path = tfd-nest-boilerplate
	url = https://github.com/rothasok/tfd-nest-boilerplate.git
